body {
  min-height: 1500px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: rgb(236, 216, 221);
}
#projects {
  background-color: rgb(236, 216, 221);
}
section {
  padding-top: 5rem;
}
